.flex {display: flex;
       border: solid 1px;
       width: 700px;
       height: 300px;
       flex-wrap: wrap;
       justify-content: space-around;
       margin: 0 auto;
}
.header, .box, .content, .right, .footer {border: solid 1px;}
.header {width: 100%;
         height: 48px;
}
.boxes {flex-direction: column;
        justify-content: stretch;
        height: 200px;
}
.box {width: 45px;
      height: 45px;
      margin: 2px;
}
.content {width: 505px;
          height: 160px;
          margin: 2px;
}
.right {width: 130px;
        height: 160px;
        margin: 2px;
}
.footer {width: 100%;
         height: 48px;
}