.conteiner {display: grid;
            width: 700px;
            height: 554px;
            margin: 0 auto;
            border-top: solid rgb(55, 55, 87) 2px;
            border-right: solid rgb(55, 55, 87) 10px;
            border-bottom: solid rgb(55, 55, 87) 2px;
            border-left: solid black 10px;
            background: rgb(55, 55, 87);
            grid-template-columns: repeat(auto-fill, minmax(17%, 1fr));
            grid-gap: 3.7% 3%;
}
.block-1, .block-2, .block-3, .block-4, .block-5,  .block-6, .block-7, .block-8, .block-9, .block-10, .block-11, .block-12, .block-13, .block-14, .block-15, .block-16, .block-17, .block-18, .block-19, .block-20 {display: grid;
  grid-gap: 2%;
}
.block-1 > div, .block-2 > div, .block-3 > div, .block-4 > div, .block-5 > div, .block-6 > div, .block-7 > div, .block-8 > div, .block-9 > div, .block-10 > div, .block-11 > div, .block-12 > div, .block-13 > div, .block-14 > div, .block-15 > div, .block-16 > div, .block-17 > div, .block-18 > div,  .block-19 > div, .block-20 > div {background-image: url(https://lh5.googleusercontent.com/FfgJrLhWsrSR9-aV3Kk1IaMxr-N8vIWeygIcWleA16wKc3xewvizm3SjNPacIgaXCYFaO1S5gWaQTEFkUrxX7oYsgkEZHcbg0lf7sJCchkbZI8FaVdknTGDcRBQAkZpSrw);
  background-size: cover;
}
.block-1 {grid-template: 32% 1fr 1fr / 32% 1fr 1fr;}
.block-1-1 {grid-column: 1;
            grid-row: 1;
}
.block-1-2 {grid-column: 2/4;
            grid-row: 1;
}
.block-1-3 {grid-column: 1/3;
            grid-row: 2;
}
.block-1-4 {grid-column: 3;
            grid-row: 2;
}
.block-1-5 {grid-column: 1;
            grid-row: 3;
}
.block-1-6 {grid-column: 2/4;
            grid-row: 3;
}
.block-2 {grid-template: 32% 1fr 1fr / 32% 1fr 1fr;}
.block-2-1 {grid-column: 1;
            grid-row: 1;
}
.block-2-2 {grid-column: 2;
            grid-row: 1/3;
}
.block-2-3 {grid-column: 3;
            grid-row: 1;
}
.block-2-4 {grid-column: 1;
            grid-row: 2/4;
}
.block-2-5 {grid-column: 2;
            grid-row: 3;
}
.block-2-6 {grid-column: 3;
            grid-row: 2/4;
}
.block-3 {grid-template: 32% 1fr 1fr / 32% 1fr 1fr;}
.block-3-1 {grid-column: 1/3;
            grid-row: 1/3;
}
.block-4 {grid-template: 1fr 23% 23% 1fr / 1fr 1fr 19% 1fr 1fr;}
.block-4-1 {grid-column: 1/3;
            grid-row: 1;
}
.block-4-2 {grid-column: 3;
            grid-row: 1;
}
.block-4-3 {grid-column: 4/6;
            grid-row: 1;
}
.block-4-4 {grid-column: 1;
            grid-row: 2;
}
.block-4-5 {grid-column: 2/5;
            grid-row: 2/4;
}
.block-4-6 {grid-column: 5;
            grid-row: 2;
}
.block-4-7 {grid-column: 1;
            grid-row: 3;
}
.block-4-8 {grid-column: 5;
            grid-row: 3;
}
.block-4-9 {grid-column: 1/3;
            grid-row: 4;
}
.block-4-10 {grid-column: 3;
             grid-row: 4;
}
.block-4-11 {grid-column: 4/6;
             grid-row: 4;
}
.block-5 {grid-template: 1fr 15% 15% 1fr / 1fr 15% 15% 1fr;}
.block-5-1 {grid-column: 1;
            grid-row: 1;
}
.block-5-2 {grid-column: 2/5;
            grid-row: 1;
}
.block-5-3 {grid-column: 1;
            grid-row: 2/4;
}
.block-5-4 {grid-column: 2;
            grid-row: 2;
}
.block-5-5 {grid-column: 3;
            grid-row: 2;
}
.block-5-6 {grid-column: 4;
            grid-row: 2/4;
}
.block-5-7 {grid-column: 2;
            grid-row: 3;
}
.block-5-8 {grid-column: 3;
            grid-row: 3;
}
.block-5-9 {grid-column: 1/4;
            grid-row: 4;
}
.block-5-10 {grid-column: 4;
             grid-row: 4;
}
.block-6 {grid-template: 45% 25% 1fr / 15% 15% 1fr 1fr;}
.block-6-1 {grid-column: 1/5;
            grid-row: 1;
}
.block-6-2 {grid-column: 1;
            grid-row: 2;
}
.block-6-3 {grid-column: 2;
            grid-row: 2;
}
.block-6-4 {grid-column: 3;
            grid-row: 2/4;
}
.block-6-5 {grid-column: 4;
            grid-row: 2/4;
}
.block-6-6 {grid-column: 1/3;
            grid-row: 3;
}
.block-7 {grid-template: repeat(4, 1fr) / 1fr 2fr 1fr;}
.block-7-1 {grid-column: 1/3;
            grid-row: 1/3;
}
.block-7-5 {grid-column: 2/4;
            grid-row: 3/5;
}
.block-8 {grid-template: 45% 1fr 1fr / 1fr 32% 1fr;}
.block-8-1 {grid-column: 1/4;
            grid-row: 1;
}
.block-8-2 {grid-column: 1;
            grid-row: 2;
}
.block-8-3 {grid-column: 2;
            grid-row: 2/4;
}
.block-8-4 {grid-column: 3;
            grid-row: 2;
}
.block-8-5 {grid-column: 1;
            grid-row: 3;
}
.block-8-6 {grid-column: 3;
            grid-row: 3;
}
.block-9 {grid-template: 15% 1fr repeat(3, 15%) / repeat(5, 1fr);}
.block-9-1 {grid-column: 1/3;
            grid-row: 1/3;
}
.block-9-2 {grid-column: 3;
            grid-row: 1;
}
.block-9-3 {grid-column: 4;
            grid-row: 1;
}
.block-9-4 {grid-column: 5;
            grid-row: 1;
}
.block-9-5 {grid-column: 3/6;
            grid-row: 2/4;
}
.block-9-6 {grid-column: 1;
            grid-row: 3;
}
.block-9-7 {grid-column: 2;
            grid-row: 3;
}
.block-9-8 {grid-column: 1/3;
            grid-row: 4/6;
}
.block-9-9 {grid-column: 3/5;
            grid-row: 4/6;
}
.block-9-10 {grid-column: 5;
             grid-row: 4;
}
.block-9-11 {grid-column: 5;
             grid-row: 5;
}
.block-10 {grid-template: repeat(6, 1fr) / 1fr 15% 15% 1fr;}
.block-10-1 {grid-column: 1/3;
             grid-row: 1/3;
}
.block-10-2 {grid-column: 3;
             grid-row: 1;
}
.block-10-3 {grid-column: 4;
             grid-row: 1/3;
}
.block-10-4 {grid-column: 3;
             grid-row: 2;
}
.block-10-5 {grid-column: 1;
             grid-row: 3/5;
}
.block-10-6 {grid-column: 2;
             grid-row: 3;
}
.block-10-7 {grid-column: 3/5;
             grid-row: 3/5;
}
.block-10-8 {grid-column: 2;
             grid-row: 4;
}
.block-10-9 {grid-column: 1/3;
             grid-row: 5/7;
}
.block-10-10 {grid-column: 3;
              grid-row: 5;
}
.block-10-11 {grid-column: 4;
              grid-row: 5/7;
}
.block-10-12 {grid-column: 3;
              grid-row: 6;
}
.block-11 {grid-template: 1fr 18% / repeat(5, 1fr);}
.block-11-1 {grid-column: 1/6;
             grid-row: 1;
}
.block-12 {grid-template: 1fr / repeat(5, 1fr);}
.block-14 {grid-template: repeat(6, 1fr) / repeat(4, 1fr);}
.block-14-1 {grid-column: 1;
             grid-row: 1;
}
.block-14-2 {grid-column: 2;
             grid-row: 1;
}
.block-14-3 {grid-column: 3;
             grid-row: 1/4;
}
.block-14-4 {grid-column: 4;
             grid-row: 1;
}
.block-14-5 {grid-column: 1/3;
             grid-row: 2/4;
}
.block-14-6 {grid-column: 4;
             grid-row: 2;
}
.block-14-7 {grid-column: 4;
             grid-row: 3;
}
.block-14-8 {grid-column: 1;
             grid-row: 4/7;
}
.block-14-9 {grid-column: 2;
             grid-row: 4;
}
.block-14-10 {grid-column: 3/5;
              grid-row: 4/7;
}
.block-14-11 {grid-column: 2;
              grid-row: 5;
}
.block-14-12 {grid-column: 2;
              grid-row: 6;
}
.block-15 {grid-template: repeat(4, 1fr) / 24% 1fr 16% 16% 1fr 24%;}
.block-15-1 {grid-column: 1/3;
             grid-row: 1;
}
.block-15-2 {grid-column: 3/5;
             grid-row: 1;
}
.block-15-3 {grid-column: 5/7;
             grid-row: 1;
}
.block-15-4 {grid-column: 1;
             grid-row: 2;
}
.block-15-5 {grid-column: 2/4;
             grid-row: 2;
}
.block-15-6 {grid-column: 4/6;
             grid-row: 2;
}
.block-15-7 {grid-column: 6;
             grid-row: 2;
}
.block-15-8 {grid-column: 1/3;
             grid-row: 3;
}
.block-15-9 {grid-column: 3/5;
             grid-row: 3;
}
.block-15-10 {grid-column: 5/7;
              grid-row: 3;
}
.block-15-11 {grid-column: 1;
              grid-row: 4;
}
.block-15-12 {grid-column: 2/4;
              grid-row: 4;
}
.block-15-13 {grid-column: 4/6;
              grid-row: 4;
}
.block-15-14 {grid-column: 6;
              grid-row: 4;
}
.block-16 {grid-template: 32% 32% 1fr 1fr / repeat(4, 1fr);}
.block-16-1 {grid-column: 1/5;
             grid-row: 1;
}
.block-16-2 {grid-column: 1/5;
             grid-row: 2;
}
.block-16-3 {grid-column: 1;
             grid-row: 3/5;
}
.block-16-4 {grid-column: 2;
             grid-row: 3;
}
.block-16-5 {grid-column: 3;
             grid-row: 3/5;
}
.block-16-6 {grid-column: 4;
             grid-row: 3;
}
.block-16-7 {grid-column: 2;
             grid-row: 4;
}
.block-16-8 {grid-column: 4;
             grid-row: 4;
}
.block-17 {grid-template: repeat(4, 1fr) / 49% 1fr 1fr;}
.block-17-1 {grid-column: 1;
             grid-row: 1/5;
}
.block-17-2 {grid-column: 2/4;
             grid-row: 1;
}
.block-17-3 {grid-column: 2;
             grid-row: 2;
}
.block-17-4 {grid-column: 3;
             grid-row: 2;
}
.block-17-5 {grid-column: 2/4;
             grid-row: 3;
}
.block-17-6 {grid-column: 2;
             grid-row: 4;
}
.block-17-7 {grid-column: 3;
             grid-row: 4;
}
.block-18 {grid-template: 32% 1fr 1fr 32% / repeat(3, 1fr);}
.block-18-1 {grid-column: 1;
             grid-row: 1;
}
.block-18-2 {grid-column: 2;
             grid-row: 1/3;
}
.block-18-3 {grid-column: 3;
             grid-row: 1;
}
.block-18-4 {grid-column: 1;
             grid-row: 2/4;
}
.block-18-5 {grid-column: 3;
             grid-row: 2/4;
}
.block-18-6 {grid-column: 2;
             grid-row: 3/5;
}
.block-18-7 {grid-column: 1;
             grid-row: 4;
}
.block-18-8 {grid-column: 3;
             grid-row: 4;
}
.block-19 {grid-template: 32% repeat(4, 1fr) / 32% repeat(4, 1fr);}
.block-19-1 {grid-column: 1/4;
             grid-row: 1/4;
}
.block-19-2 {grid-column: 4/6;
             grid-row: 1;
}
.block-19-3 {grid-column: 4;
             grid-row: 2;
}
.block-19-4 {grid-column: 5;
             grid-row: 2;
}
.block-19-5 {grid-column: 4;
             grid-row: 3;
}
.block-19-6 {grid-column: 5;
             grid-row: 3;
}
.block-19-7 {grid-column: 1;
             grid-row: 4/6;
}
.block-19-8 {grid-column: 2;
             grid-row: 4;
}
.block-19-9 {grid-column: 3;
             grid-row: 4;
}
.block-19-10 {grid-column: 4/6;
              grid-row: 4/6;
}
.block-19-11 {grid-column: 2;
              grid-row: 5;
}
.block-19-12 {grid-column: 3;
              grid-row: 5;
}
.block-20 {grid-template: repeat(3, 1fr) / repeat(4, 1fr);}