.img {position: absolute;
      left: 400px;
      top: 10px;
}
.conteiner {display: flex;
            border: solid white 1px;
            background-color: white;
            border-radius: 6px;
            width: 530px;
            height: 590px;
            justify-content: space-around;
            position: absolute;
            left: 404px;
            top: 14px;
}
.header {border: solid black 1px;
         background-color: black;
         border-top-left-radius: 6px;
         border-top-right-radius: 6px;
         width: 530px;
         height: 50px;
         position: absolute;
         left: 404px ;
         top: 14px;
         z-index: 3;
         color: white;
         font-family: Arial, Helvetica, sans-serif;
         display: flex;
         justify-content: center;
         align-items: center;  
}
.name, .company, .email, .phone, .subject, .yes-no {font-family:  Arial, Helvetica, sans-serif;
 font-size: 12px;
 position: relative;
 left: 20px;
 margin: 20px;
}
.name {top: 100px;}
.company {top: 130px;}
.email {top: 160px;}
.phone {top: 190px;}
.subject {top: 220px;}
.yes-no {top: 250px;}
.name input { width: 148px; height: 25px; border: none; background-color: rgb(240, 235, 235); left: 20px; position: relative; left: 38px;}
.placeholder-1 {position: relative; left: 94px; font-size: 10px; color: grey;}
.placeholder-2 {position: relative; left: 198px; font-size: 10px; color: grey;}
.company input, .email input, .subject input{
    width: 300px; height: 25px; border: none; background-color: rgb(240, 235, 235); position: relative; l
}
.company input {left: 20px;}
.email input {left: 40px;}
.subject input {width: 300px; left: 30px;}
.subject select {position: relative;}
.phone input {position:relative; left: 36px;}
input[type="tel-code"] {width: 70px; height: 25px; border: none; background-color: rgb(240, 235, 235);
}
input[type="tel"] {width: 220px; height: 25px; border: none; background-color: rgb(240, 235, 235);
}
.placeholder-3 {position: relative; left: 96px; font-size: 10px; color: grey;}
.placeholder-4 {position: relative; left: 122px; font-size: 10px; color: grey;}
.yes-no {display: block;
}
input[type="submit"] {background-color: #f7616b;
                      color: white;
                      border: none;
                      border-radius: 3px;
                      margin-top: 10px;
                      padding: 6px;
}