body,
p {
    margin: 0;
}

.header {
    width: 65vw;
    margin: 0 auto;
    height: 50px;
    background-color: yellowgreen;
    text-align: center;
    position: fixed;
    left: 16.75vw;
    top: 0;
}

.main {
    width: 60vw;
    margin: auto;
    margin-top: 50px;
    border-left: 2px solid yellowgreen;
    border-right: 2px solid yellowgreen;
    padding: 0 10px;
}