td {
    height: 50px;
    border: black solid 1px;
}
.chess {
    border-collapse: collapse;
    margin-left: 50px;
}
h1 {
   margin-left:  50px;
}
tr:nth-child(odd) td:nth-child(odd) {
background-color: black;
}
tr:nth-child(odd) td:nth-child(even) {
background-color: white;
}
tr:nth-child(even) td:nth-child(odd) {
background-color: white;
}
tr:nth-child(even) td:nth-child(even) {
 background-color: black;
}
tr:nth-child(odd) td:nth-child(even):hover {
   background-image: url(./lad.png) ;
   width: 10px;
   height: 10px;
   background-position: 5% 5%;

}