.block {
    width: 50%;
    border: 1px solid green;
    padding: 50px 20px 20px 20px;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
}
.top {
    position: fixed;
    width: 55%;
    background-color: green;
    top: 0;
    left: calc(100vw - 78vw);
    height: 40px;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font-size: 25px;
}