.cub {
    width: 80px;
    height: 80px;
    background-color: red;
    margin: 50px 20px;
}
.stretch:hover {
    animation: stretch 2s ease-in-out infinite;
}
@keyframes stretch {
    0% { width: 80px;}
  100% { width: 200px;}
}