body {
    position: absolute;
    width: 100%;
}
.block {
    position: absolute;
    min-height: 430px;
    min-width: 510px;
    max-width: 510px;
    background-color: lightgray;
    overflow: hidden;
    left: 200px;
    margin-top: 6px;
}
.block_in {
    position: absolute;
    min-height: 400px;
    min-width: 485px;
    max-width: 485px;
    background-color: white;
    left: 212px;
    margin-top: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.left_block {
    width: 250px;
}
.man {
    width: 260px;
    margin: 40px 0px 20px 0px;
}
.man img {width: 250px;}
.create {
    text-align: center;
    color: grey;
    text-decoration: underline 1px grey;
    display: block;
}
.right_block {
    padding: 20px 0px 20px 20px;
}
.sign_in {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    margin: 10px;
}
input {
    margin: 15px 10px 10px 10px;
    width: 70%;
    border: none;
    border-bottom: solid 1px grey;
}
input.text {
    background-image: url('text.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left center;
    padding-left: 35px;
 }
 input.password {
    background-image: url('password.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left center;
    padding-left: 35px;
 }
.remember {
    display: flex;
    flex-direction: row;
}
.remember_me {
    padding-top: 12px;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 14px;
}
.submit {
    border: none;
    border-radius: 3px;
    background-color: rgb(62, 89, 211);
    color: white;
    width: 100px;
    height: 35px;
}
.login_with {
    display: flex;
    flex-direction: row;
    margin: 50px 5px;
}
.login {
    font-family: sans-serif;
    font-size: 12px;
    padding: 20px 5px;
}

img[src$='.png'] {
    width: 24px;
    height: 24px;
    margin: 20px 5px;
}




