.common {
    width: 40vw;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 1%;  
    justify-content: center;
   
}
* {
    box-sizing: border-box;
}

.conteiner {
    background-color: white;
    display: grid;
    grid-column: 1fr 2fr;
    grid-row: ;

}
.conteiner  img {
 width: 30px;
 height: 30px;
}