body {
    counter-reset: number;
}

p {
    font-size: 20px;
}

p::after {
    counter-increment: number;
    content: '#' counter(number);
}

p:hover {
    background-color: green;
}

p:hover~p:not(:last-of-type) {
    background-color: red;
}