.newpart {
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    margin-top: 70px;
}

.ramka_1 {
    border: solid black 3px;
    margin: 0px 350px 20px 350px;
    padding: 15px 200px 15px 200px;
    min-width: 100px;
}
.ramka_1_2 {
    border: dotted black 2px; 
    text-align: center;
    padding: 30px 10px 30px 10px;
    font-family: sans-serif;
    font-size: large;
    min-width: 73px;
}
.ramka_2 {
    border: solid black 1px; 
    width: 140px;
    font-family: sans-serif;
    padding: 30px 50px 5px 50px;
    margin-bottom: 0px;
    margin-left: 350px;
    white-space: pre;
}
.ramka_3 {
    border: solid black 1px; 
    width: 222px;
    margin-left: 591px;
    margin-top: -1px;
    font-family: sans-serif;
    padding: 15px 20px; 
    margin-bottom: 0px;
    white-space: pre;
    
}
.ramka_4 {
    border: solid black 1px; 
    width: 142px;
    font-family: sans-serif;
    font-size: small;
    padding: 5px 10px 25px 150px;
    margin-top: -1px;
    margin-left: 288px;
    white-space: pre;
} 
.ramka_5 {
    border: solid rgb(171, 24, 207) 7px;
    width: 188px;
    height: 62px;
    margin: auto;
    border-radius: 25px 0px 25px 0px;
    text-align: center;
    white-space: nowrap;
    word-spacing: -4px;   
}
.material-icons {
    font-family: Material Icons;
}
.common {
    border: solid black 4px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    height: 40px;
    font-family: sans-serif;
    font-size: xx-large;  
}
.blue {
    color:rgb(33, 198, 204) ;
    border-color: rgb(33, 198, 204);
}
.red {
    border-color:red;
    color: red;
}
.green {
    border-color: rgb(89, 167, 89);
    color: rgb(89, 167, 89);
}
.tabl_3_0 {
    border-collapse: collapse;
    margin: auto;
}
.tabl_3_0 td {
    border: black solid 1px;
    height: 35px;
}
.tabl_3_1 {
    border-collapse: collapse;
    margin: auto;
    font-family: sans-serif;
    font-size: large;
}
.tabl_3_1 td {
    border: black solid 1px;
    height: 35px;
}
.tabl_3_1 th {
    border: black solid 1px;
    height: 35px;
    text-align: left;
    padding-left: 5px;
}
.tabl_3_2 td {
    border: solid black 1px;
    height: 35px;
}
.tabl_3_2 th {
    border: solid black 1px;
    height: 35px;
    text-align: right;
    padding-right: 5px; 
}
.tabl_3_2 {
    border-collapse: collapse;
    margin: auto;
    font-family: sans-serif;
    font-size: large;
}
.tabl_3_3 th {
    border: solid black 1px;
    height: 35px;
    font-family: sans-serif;
    font-size: large;
    text-align: left;
    padding-left: 5px;
    
}
.tabl_3_3 td {
    border: solid black 1px;
    height: 35px;
}
.tabl_3_3 {
    border-collapse: collapse;
    margin: auto;
}
.tabl_3_4 td {
    border: black solid 1px;
    height: 35px;
}
.tabl_3_4 {
    border-collapse: collapse;
    margin: auto;
}
td.color_orange {
    background-color: rgb(230, 143, 29);
}
td.color_green {
    background-color: rgb(32, 238, 32);
}
.tabl_3_5 td {
    border: solid black 1px;
    height: 75px;
    font-family: sans-serif;
    font-size: smaller;
    font-weight: bolder;
}
.tabl_3_5 {
    border-collapse: collapse;
    margin: auto;
}