/* css на 4.1*/

h1 {
    color: blue;
}

h2 {
    background-color: blue;
    color: white;
}

span {
    font-size: 200%;
}


/* css на 4.2*/


/* можно слово импотант использовать,если совсем будет все грустно)*/

#special {
    background: yellow;
}

span.stop {
    background: red;
}

span.go {
    background: green;
}

.alert:first-child {
    border: 1px solid grey;
}


/* css на 4.3*/

a:link {
    color: orange;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

.container::first-line {
    color: red;
}

.container:first-child {
    /* может я не так понял, просто оно окрасит так все до конца*/
    color: blue;
}

table tr:nth-of-type(even) {
    color: white;
    background-color: #333;
}


/* css на 4.4*/

h2~p {
    color: red;
}

ul.list>li {
    list-style-type: none;
    border-bottom: 1px solid grey;
}


/* css на 4.5*/

a[title] {
    border-color: pink;
}

a[href*="contact"] {
    border-color: orange;
}

a[href^="https"] {
    border-color: green;
}


/* css на 4.6*/

body {
    counter-reset: paragraf;
}

p::after {
    counter-increment: paragraf;
    content: ' # ' counter(paragraf)
}


/* css  4.7 

p:hover {
    background-color: green;
}

p:hover+p {
    background-color: red;
}
*/


/* css  4.8 

p:hover~p {
    background-color: red;
}
*/


/* css  4.9 

p:hover~p:not(:last-of-type) {
    background-color: red;
}
*/


/* css на 4.10*/

p:hover,
p:nth-child(even):hover~ :nth-child(even),
p:nth-child(odd):hover~ :nth-child(odd) {
    background-color: red;
}


/* css на 4.11 тут конфликтует цсс на задание 4.3, убрать серый цвет там, 
так что я думаю,что это не ошибка особо */

.desk div:nth-of-type(16n+1),
.desk div:nth-of-type(16n+3),
.desk div:nth-of-type(16n+5),
.desk div:nth-of-type(16n+7),
.desk div:nth-of-type(16n+10),
.desk div:nth-of-type(16n+12),
.desk div:nth-of-type(16n+14),
.desk div:nth-of-type(16n+16) {
    background-color: black;
}

tr:nth-child(odd) td:nth-child(odd) {
    background: black;
}

tr:nth-child(even) td:nth-child(even) {
    background: black;
}