body {
    margin: 0 auto;
    width: 700px;
    height: 650px;
    box-sizing: border-box;
    border: solid 10px #8247F2;
    border-radius: 5px;
    font-weight: bolder;
}
div {
    position: relative;
    left: 50px;
}
.under {
    position: relative;
    top: 20px;
}
.line-block {
    display: inline-block;
    width: 600px;
    height: 3em;
    margin-top: 2em;
}
.name {
    position: absolute;
    left: 100px;
    width: 200px;    
}
.last-name {
    position: absolute;
    left: 345px;
    width: 200px;   
}
.company {
    position: absolute;
    left: 100px;
    width: 445px;  
}
.email {
    position: absolute;
    left: 100px;
    width: 445px;   
}
.phone-area {
    position: absolute;
    left: 100px;
    width: 100px;  
}
.phone-number {
    position: absolute;
    left: 245px;
    width: 300px;  
}
.subject {
    position: absolute;
    left: 100px;
    width: 445px;
}
.inline-block {
    display: inline-block;
}
.event {
    position: relative;
    left: 0;
    width: 700px;
    height: 3em;
    background-color: black;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
input, select {
    border: none;
    background-color: #E6E6E6;
    height: 3em;
    margin: 0px;
    outline: none;
}
.text-line {
    position: relative;
    top: 0.75em;
    border: none;
    width: 100px;
    height: 3em;
}
.first_name {
    width: 500px;
}
.register {
    position: relative;
    left: 0px;
    top: 5px;
    height: 40px;
    float: left;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #FF4B5C;
    color: white;
  }
.customer {
    width: 50px;
    font-family: ;
    text-align: center;
    font-size: 16px;  
    height: 0.75em;
    margin: 1em auto;
}