.common {
    display: flex;
    flex-direction: row;
}
.tabl_1 {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: auto;
    font-size: x-small;
}
.header-1 {
    border: black 1px solid;
    height: 48px;
}
.footer-1 {
    border: black 1px solid;
    height: 48px;
}
.box-1 {
    border-left: black 1px solid;
    border-right: black 1px solid;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}
.left-1 {
    border: black 1px solid;
    border-left: none;
    height: 180px;
    width: 6vw;
}
.content-1 {
    border: black 1px solid;
    height: 180px;
    width: 12vw;
}
.right-1 {
    border: black 1px solid;
    border-right: none;
    height: 180px;
    width: 6vw;
}
.left-2 {
    height: 200px;
    width: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cub-2 {
    border: black 1px solid;
    width: 40px;
    height: 40px;
    
}

.content-2 {
    border: black 1px solid;
    margin-top: -30px;
    height: 150px;
    width: 12vw;
}
.right-2 {
    border: black 1px solid;
    border-right: none;
    margin-top: -30px;
    height: 150px;
    width: 6vw;
}
