body {
    text-align: center;
}

.h1_blue {
    color: blue;
}

.h2_white {
    background-color: blue;
    color: white;
    display: inline-block;
}

.big-font {
    font-size: 200%;
    text-align: left;
}

.special {
    background-color: yellow;
}