.conteiner {
    border: solid rgb(223, 108, 127) 2px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    width: 100vh;
    margin: auto;
    margin-bottom: 20vh; 
    position: relative;
    top: 5vh;
}
div {
    text-align: justify;
    padding: 10px;    
}
.invisible_conteiner {
    background-color: white;
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.bottom {
    position: fixed;
    bottom: 5vh;
    left: 44.3vh;
    width: 110vh;
    height: 8vh;
    background-color: rgb(223, 108, 127);
    z-index: 2;  
}
h1 {
    color: rgb(223, 108, 127); 
}
h3{
    color: white;
    text-align: center;
}
    
    

