body {
    position: absolute;
    width: 100%;
}
.block {
    position: absolute;
    min-height: 423px;
    min-width: 470px;
    border: 25px inset rgba(172, 91, 172, 0.787);
    background-color: rgb(187, 92, 187);
    overflow: hidden;
    left: 200px;
}
.block_in {
    position: absolute;
    min-height: 460px;
    min-width: 510px;
    border-radius: 5px;
    overflow: hidden;
    top: 5px;
    left: 204px;
    display: flex;
    flex-direction: row;
}
.left_block {
    width: 50%;
    min-width: 255px;
    margin: 0px;
    background-size: 255px 460px;
    background-image: url("MAIN-Photo-by_-Joshua-Fuller-3-scaled.jpg");
}
.right_block {
    padding-top: 40px;
    min-width: 255px;
    background-color: black;
}
.label {
    color:white;
    font-size: 20px;
    margin: 0px 40px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    margin: 20px 40px;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}
select {
    margin: 10px 40px;
    background-color: black;
    color: gray;
    border: none;
    border-bottom: 1px solid white;
    width: 160px;

}
.submit {
    background-color: rgb(13, 173, 13);
    color: white;
    border-radius: 20px;
    width: 90px;
    height: 30px;
    border: none;
}