.common {
    border: 1px black solid;
    width: 400px;
    margin: auto;
}
.conteiner_zavtrak {
    border: 1px black solid;
    width: 380px;
    margin: auto;
}
.top_1 {
    background-color: white;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.top_1-call{
    display: flex;
    flex-direction: row;
}
.sun_1 {
    
}