.common {
    border: 1px black solid;
    width: 400px;
    margin: auto;
}
.conteiner_zavtrak {
    width: 380px;
    margin: auto;
}
.top_1 {
    background-color: white;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
   
}
.top_1-call{
    display: flex;
    flex-direction: row;
    text-align: right;
}
.sun {
    width: 20px;
    height: 20px;
    vertical-align: -3px;
    margin-right: 10px;
}
.plus {
    width: 45px;
    height: 25px;
   
}
.text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    line-height: 15px;
}
.text-small {
    font-family: sans-serif;
    font-size: smaller;
}
.bottom_1 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(247, 241, 241);
    font-family: sans-serif;
    word-spacing: 23px;
    font-size: 15px;
}
.material-icons {
font-family: Material Icons;
margin-left: 50px;

}