.common {
    width: 100px;
    height: 300px;
    background-color: gray;
    border: black solid 3px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 30px;
    
}
.circle {
    background-color: black;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 23px;
    
}
.red {
    animation: red 7s;
}
.yellow {
    animation: yellow 7s;
}
.green {
    animation: 7s green;
   
}
@keyframes red {
 
25%{
    background-color: red;}
}

@keyframes yellow {
    25% {background-color: black;} 
    75% {background-color: yellow;}
}
@keyframes green {
    75% {
        background-color: black;

    }
    100% {
        background-color: green;
    }

}