html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    min-width: 300px;
}
.container {
    width: 100vw;
    min-width: 600px;
    height: 100vh;
}
.part_1 {
    width: 100%;
    height: 100%;
    background-image: url('pic1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    scroll-behavior: smooth;
}
.between {
    width: 100%;
    min-height: 13%;
}
.label {
    display: flex;
    background-image: url('Yandex_Go_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px 35px;
    padding: 8px 19px 0px 0px;
    width: 133px;
    height: 46px;
    font-size: 35px;
    z-index: 5;
}
.label a {
    color: transparent;
}
.right_block_1 {
    background-color: white;
    border-radius: 60px;
    max-width: 420px;
    width: 430px;
    height: 360px;
    align-self: flex-end;
    margin-right: 160px;
    margin-bottom: 40px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
}
.right_block_1 h4 {
    white-space: pre-wrap;
    font-size: 50px;
    line-height: 25px;
    font-weight: 600;
    margin: 20px 10px;
}
.right_block_1 p {
    padding: 0px;
    width:420px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0px 10px 30px 10px;
    text-align: left;
} 
.href_1 {
    margin: 30px 10px;
    padding: 16px 25px;
    font-size: 19px;
    line-height: 20px;
    border-radius: 48px;
    border: solid 1px black;
    color: black;
    width: 130px;
    min-width: 140px;
    text-align: center;
}
a {
    text-decoration: none;
}
.href_1:hover {
    background-color: black;
    color: white;
}
.right_block {
    background-color: white;
    border-radius: 50px;
    width: 340px;
    height: 200px;
    align-self: flex-end;
    margin-right: 120px;
    margin-bottom: 55px;
}
.href {
    border-radius: 15px;
    border: solid 1px black;
    height: 20px;
}





.part_2 {
    width: 100%;
    display: flex;
}
.left_block_2 {
    position: relative;
    width: 1024px;
    height: 600px;
    background-color: rgb(255 222 64);
    border-radius: 50px;
    margin-left: 40px;
    top:-10vw;
    z-index: 1;
}
.car {
    position: absolute;
    width: 50%;
    height: 510px;
    border-radius: 50px 0px 0px 50px;
    overflow: hidden;
    background-image: url('pic2.jpg') ;
    background-size: cover;
    z-index: 2;
    left: 50%;
    margin-top: 48px;
}
.text_block_2 {
    width: 440px;
    margin: 180px 40px 40px 40px;
}
.trip {
    font-family: Arial, Helvetica, sans-serif;
    width: 90px;
    height: 25px;
    background-color:  black;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    margin: 15px;
    text-align: center;
    padding-top: 10px; 
}
.text_block_2 h4 {
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    font-size: 50px;
    line-height: 17px;
    font-weight: 600;
    margin: 20px 10px;
    padding: 20px 0px 15px 0px;
}
.text_block_2 p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    width:420px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0px 10px 30px 10px;
    text-align: left;
} 





.part_3 {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.left_block_3{
    width: 50%;
}
.man {
    background-image: url(pic3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 520px;
    height: 470px;
    border-radius: 0px 50px 50px 0px;
    z-index: 2;
}
.yellow {
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: rgb(255 222 64);
    border-radius: 40px;
    margin-left: 180px;
    margin-top: 10%;
    z-index: -1;

}
.right_block_3 {
    width: 50%;
}
.text_block_3 {
    width: 440px;
    margin: 60px 40px 40px 40px;
}
.text_block_3 h4 {
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    font-size: 50px;
    line-height: 17px;
    font-weight: 600;
    margin: 20px 10px;
    padding: 20px 0px 15px 0px;
    width: 435px;
}
.text_block_3 p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    width:440px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0px 10px 30px 10px;
    text-align: left;
} 





.part_4 {
    width: 100%;  
    margin-top: 70px;
    margin-bottom: -385px;
}
.text_block_4{
    width: 440px;
    margin: 60px 40px 100px 40px;
}
.text_block_4 h4 {
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    font-size: 50px;
    line-height: 17px;
    font-weight: 600;
    margin: 20px 10px;
    padding: 20px 0px 15px 0px;
    width: 435px;
}
.text_block_4 p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    width:440px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0px 10px 30px 10px;
    text-align: left;
} 

.yellow_bottom {
    background-color: rgb(255 222 64);
    height: 65px;
    width: 70vw;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    margin-top: 35px;
    left: 10vw;
}
.black_bottom {
    background-color: black;
    height: 100px;
    width: 50vw;
    border-radius: 30px 30px 0px 0px;
    margin-left: 40%;
    margin-top: -70px;
}
.top_block_4 {
width: 100%;
display: flex;
flex-direction: row;
}
.part_4 img {
    position: relative;
    width: 299px;
    left: 50%;
    top: -48%;
}
input[type='tel'] {
    border: none;
}


.foot {
    margin: 20px;
    width: 100vw;
}
.foot>div{
    margin-right: 80px;
}
.link{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: lightgray 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.link span {
    color: gray;
}
.icon {
    display: flex;
}
.icon>div img {
    width: 45px;
}

.target {
    display: flex;
    justify-content: space-between;
    border-bottom: lightgray 1px solid;
    margin-top: 10px;
}
.trips {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: gray;
}
.trips_2 {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: gray;
}
.trips_3 {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: gray;
}
.trips_2 a, .trips a{
    color: gray;
    margin-bottom:12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.agreement {
    display: flex;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 34px 0px;
}
.agreement a{
    color: grey;
    margin-right: 20px;
}
.service {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(194, 194, 194);
    margin-bottom: 34px;
}
.end {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: gray;
}

#download {
    scroll-behavior: smooth;
  }

span{
    position: relative;
    transform: left;
   
}
a:hover span{
    left: 20px;
}
.text_block_2 a, .text_block_3 a {
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 10px;
}


.before_1 { 
    position: absolute;
    visibility: hidden;
}
.before_2 {
    position: absolute;
    visibility: hidden;
}
.before_3 {
    position: absolute;
    display: flex;
    margin: 10px 20vw;
    visibility: hidden;
}
.before_3>div {
    width: 40px;
    height: 40px;
    border-radius:50% ;
    border: solid gray 1px;
    margin-right: 5px;
}
.before_3 img, .icon img {opacity: 0.3;}

@media screen and (min-width: 600px) and (max-width: 980px) {
    .right_block_1 h4 {
        font-size: 40px;
        line-height: 21px;
    }
    .left_block_2 {
        width: 875px;
    }
    .text_block_2 h4 {
        font-size: 40px;
        line-height: 14px;
        width: 300px;
        margin: 10px 10px;
    }
    .text_block_2 p {
        font-size: 16px;
        line-height: 14px;
        width: 260px;
    }
    .text_block_2 {
        margin-left: 10px;
    }
    .yellow {
        margin-left: 0px;
        margin-top: 13vw;
    }
    .man {
        width: 350px;
    }

    .text_block_3 h4 {
        font-size: 35px;
        line-height: 10px;
        width: 345px;
        margin: 10px 10px;
    }
    .text_block_3 p {
        font-size: 16px;
        line-height: 14px;
        width: 290px;
    }
.text_block_2 a, .text_block_3 a {
    display: block;
    white-space: pre-wrap;
}
.text_block_2 a {width: 200px;}
.text_block_3 a {width: 155px;}
.text_block_4 h4 {
    font-size: 35px;
    line-height: 10px;
    width: 345px;
    margin: 10px 10px;
}
.text_block_4 p {
    font-size: 16px;
    line-height: 14px;
    width: 220px;
}

element.style {
    height: 336.365;
}
.part_4 img {
    width: 262px;
}
}





@media screen  and (max-width: 600px) {
    .right_block_1 {
        border-radius: 0px 60px 60px 0px;
        min-width: 265px;
        width: 65vw;
        height: 360px;
        align-self: flex-start;
        margin-right: 0px;
        margin-bottom: 40px;
        padding: 30px;
        z-index: 3;
    }
    .right_block_1 h4 {
        font-size: 23px;
        line-height: 27px;
        width: 260px;
        white-space: normal;
    }
    .right_block_1 p { 
        width: 250px;
        font-size: 17px;
    }
    .between {min-height: 45%;}

    .part_2 {display: block;}
    .left_block_2 {
        position: absolute;
        width: 100vw;
        height: 750px;
        top: 520px;
        z-index: 1;
        margin-left: 0px;
        border-radius: 0px;
        }
    .text_block_2 h4 {
        font-size: 23px;
        line-height: 27px;
        width: 260px;
        white-space: normal;
        }
    .text_block_2 p {
        width: 235px;
        font-size: 17px;
    }
    .text_block_2 a {
    font-size: 16px;
    width: 140px;
    display: block;
    }
.car {
    width: 55vw;
    height: 260px;
    border-radius: 50px 0px 0px 50px;
    left: 44vw;
    top: 1054px;
    margin-left: 1;
    }

.part_3 {display: block;}
.text_block_3 {
    margin-top: -90px;
   
}
.text_block_3 h4 {
    font-size: 23px;
    line-height: 27px;
    width: 260px;
    white-space: normal;
    }
.text_block_3 p {
    width: 235px;
    font-size: 17px;
}
.text_block_3 a {
font-size: 16px;
width: 140px;
display: block;
}
.man {
    width: 80vw;
    height: 400px;
    z-index: 2;
    position: relative;
    top: 132vh;
}
.yellow {
    position: relative;
    width: 80vw;
    height: 400px;
    margin-left: 13vw;
    top: 220vh;
}

.part_4 {display: block;}
.text_block_4 {margin-top: 440px;}
.text_block_4 h4 {
    font-size: 23px;
    line-height: 27px;
    width: 260px;
    white-space: normal;
    }
.text_block_4 p {
    width: 235px;
    font-size: 17px;
}
.text_block_4 a {
font-size: 16px;
width: 140px;
display: block;
}
.yellow_bottom {
    border-radius: 0px 30px 0px 0px;
    position: absolute;
    left: -73vw;
    width: 80vw;
    top: 19vh;
}
.black_bottom {
    height: 204px;
    width: 25vw;
    border-radius: 30px 0px 0px 0px;
    position: absolute;
    left: 74vw;
    top: 455vh;
    margin-left: 0px;
}
.part_4 img {
    visibility: hidden;
}
.trip, .link, .target, .agreement {display: block;}

.before_1 {
    visibility: visible;
    font-size: 13px;
}
.trips, .trips_2 {visibility: hidden;}
.before_1  select {
    width: 80vw;
    height: 40px;
    padding-left: 18px;
    border: none;
    font-size: 14px;
    border-bottom: #8d8686 1px solid;    
}
.before_1  select:focus {
    outline: none;
}
.before_2  select {
    visibility: visible;
    position: relative;
    top: -85px;
    width: 80vw;
    height: 40px;
    padding-left: 18px;
    border: none;
    font-size: 14px;
    border-bottom: #8d8686 1px solid;    
}
.before_2  select:focus {
    outline: none;
}
.icon {visibility: hidden;}
.before_3 {visibility: visible;
    position: relative;
    top:10px;
}
.agreement {
    white-space: pre-wrap;
    margin: 0px;
}
.service {
    border: grey solid 1px;
    border-right: none;
    border-left: none;
    padding: 10px 0px;
}
.trips_3 {margin-top: -95px;}

}







